/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  align-items: center;
}

.hero .text h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  color: #16447b;
  font-weight: 800;
}

.hero .text p {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color: #2e2e2e;
  margin-top: 10px;
  font-weight: 700;
}

.hero img {
  height: 400px;
}
