.formulario-evento {
  text-align: center;
  padding: 60px 20px;
  background-color: #f9f0e6;
}

.formulario-evento h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.formulario-evento p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  border: 1.5px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

textarea {
  height: 100px;
  resize: none;
}

.btn-enviar {
  background-color: #f9b7a2;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
}

.btn-enviar:hover {
  background-color: #f59a85;
}
