.emocion-fin {
  text-align: center;
  padding: 60px 20px;
  background-color: #f9f0e6;
}

.emocion-fin h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 40px;
}

.emociones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
}

.carta {
  width: 140px;
  height: 140px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.carta .emoji {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.azul {
  background-color: #bde0fe;
}
.amarillo {
  background-color: #ffe08c;
}
.verde {
  background-color: #b7e5b4;
}
.lila {
  background-color: #e6d1ff;
}

.btn-enviar {
  background-color: #ff7a79;
  padding: 12px 28px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.btn-enviar:hover {
  background-color: #e96565;
}
