.visualizar-tendencias {
  text-align: center;
  padding: 60px 20px;
  background-color: #f9f0e6;
}

.visualizar-tendencias h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filtros select {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1.5px solid #999;
}

.visualizar-tendencias p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.grafico img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
}

.btn-guardar {
  background-color: #bce3da;
  color: black;
  font-weight: 600;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-guardar:hover {
  background-color: #a4d3c8;
}
